{% extends "base.html" %}

{% block title %}Options saved.{% endblock %}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $("#check").click(function() {
        $("#checkButton").attr("disabled", !this.checked);
    });
});
</script>

{% endblock %}

{% block content %}

<h3>Please ensure that the choices listed below are those that you
intend to submit finally and only then go ahead to the rest of the
procedure.  If there is an error, please use the edit button to go back
and re-do your choices</h3>

{% if options_chosen %}
<table class="table table-bordered table-striped">
<thead>
<td><p>Prefrence</p></td>
<td><p>Programme Code </p></td>
<td><p>Programme Name</p></td>
<td><p>Insitute </p></td>
</thead>

<tbody>
{% for option in options_chosen %}
    <tr> 
    <td><p> {{ forloop.counter }} </p></td>
    <td><p> {{ option.opt_code }} </p></td>
    <td><p> {{ option.opt_name }} </p></td>
    <td><p> {{ option.opt_location }} </p></td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if email %}

An email with the list of options has been sent to {{ email }} for reference.

{% endif %}

{% else %}

<p><h4> No Options were chosen, click <b>Edit Options</b> to go back and select 
options otherwise click <b>Quit Allotment</b> to exit the allotment process </h4></p>

{% endif %}

<br/>
<br/>
<p>You may edit your options by clicking <b>Edit Options</b>. <i>Please keep in mind that your previous options 
will be deleted.</i></p>
<form id="apply" action="/allotter/apply/" method="post">
{% csrf_token %}
<input type="submit" name="apply" value="Edit Options" class="btn" />
</form>

<p>Click on the button <b>Download Application PDF</b> to download a PDF of the application form.</p>
<a href="http://www.iitb.ac.in/~pge/2k12/jam/adm_form.pdf" class="btn" >Download Application PDF</a>


<br/> <br/>
<p>Click on the button <b>Generate Allotment PDF</b> to generate a Portable Document 
Format(PDF) of your options. Take a print out of this PDF and send it with 
your completed application form to the Organizing chairman </p>
<form id ="get_pdf" action="/allotter/get_pdf/" method="post">
{% csrf_token %}
<input type="submit" name="get_pdf" value="Generate Allotment PDF" class="btn" />
</form>

<form id="logout" action="/allotter/logout/" method="post">
{% csrf_token %}

<div class="alert">

<p><input type="checkbox" name="check" id="check"/><label for="check">I have downloaded 2 PDF's that together consitute my application.</label> 
</p>
<input type="submit" name="logout" value="Quit Admission Application" class="btn" id="checkButton" disabled="disabled" />
<p>This will finish the application procedure and the choices
you have given will be taken as final after that.</p>

</div>
</form>

{% endblock content %}


