{% extends "base.html" %}


{% block title %}Login{% endblock title %}
{% block scripts %}
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/browser-check.js" type="text/javascript"></script>

{% endblock scripts %}
{% block content %}
<h2> Welcome to the JAM 2012 Admission website</h2>
<h2>Please fill in the required details to continue</h2>
<hr>

{% load crispy_forms_tags %}
{% crispy form %}
<!-- <a href="{{URL_ROOT}}/exam/forgotpassword/">Forgot Password</a> <br /> -->

{% endblock content %}

