{% extends "base.html" %}


{% block title %}Application sucessfully submitted{% endblock title %}

{% block content %}
<h2>Your application has been succesfully submitted.</h2>
<hr />
<h3>You can <a href="/allotter/login/">login</a> again to download the Application Form and the Allotment Form.</h3>
<hr />
<p><b>For any queries please contact</b>
<br/>
Organizing Chairman, GATE - JAM Office<br/>
Indian Institute of Technology Bombay,<br/>
P.O. IIT Powai, MUMBAI - 400 076<br/>
Phone: 022-25767022, 25767068<br/>
Fax : 022-25722674<br/>
e-mail : jam[at]iitb.ac.in<br/>
Website : www.iitb.ac.in/jam
</p>
{% endblock content %}

